<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sztu.covid19.mapper.InfectedMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sztu.covid19.entity.Infected">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="date" property="date"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="place" property="place"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , name, date, sex, age, place
    </sql>

    <!-- 根据日期范围查询结果 -->
    <select id="listDate" parameterType="com.sztu.covid19.entity.Infected" resultType="com.sztu.covid19.entity.InfectedResult">
        select date, count(id) as total, place_id
        from infected
        where place_id = #{placeId}
          and date between #{beginDate}
          and #{endDate}
        group by date, place_id
        order by date, place_id
    </select>

</mapper>
