<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sztu.covid19.mapper.PlaceRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sztu.covid19.entity.PlaceRelation">
        <id column="id" property="id" />
        <result column="father_id" property="fatherId" />
        <result column="child_id" property="childId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, father_id, child_id
    </sql>

</mapper>
