<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sztu.covid19.mapper.PlaceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sztu.covid19.entity.Place">
        <id column="id" property="id" />
        <result column="placeName" property="placeName" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, place_name, longitude, latitude
    </sql>

    <!-- 查询所有地点名称 -->
    <select id="listName" resultType="com.sztu.covid19.entity.PlaceNameResult">
        select id, place_name
        from place_detail
        order by place_name
    </select>

    <!-- 查询（大范围）地点的经纬度 -->
    <select id="listPos" resultType="com.sztu.covid19.entity.PlaceDetail">
        select id, place_name, longitude, latitude
        from place
        order by place_name
    </select>

    <!-- 查询（小范围）地点的经纬度 -->
    <select id="listPosDetail" resultType="com.sztu.covid19.entity.PlaceDetail">
        select id, place_name, longitude, latitude
        from place_detail
        where father_id = #{fatherId}
        order by place_name
    </select>

    <!-- 获取（大范围）所有建筑最近一个月的污水载量 -->
    <select id="listMonth" resultType="com.sztu.covid19.entity.PlaceResult">
        select id, place_name
        from place_detail
        order by place_name
    </select>

    <!-- 获取（小范围）所有建筑最近一个月的CT值 -->
    <select id="listMonthDetail" resultType="com.sztu.covid19.entity.PlaceResult">
        select id, place_name
        from place_detail
        where father_id = #{fatherId}
        order by place_name
    </select>

</mapper>
